# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
node_modules/
jspm_packages/
.pnp
.pnp.js

# Production / Build
dist/
dist-ssr/
build/
*.local

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
.vercel
.netlify

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python / Data Science
.conda/
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv
.ipynb_checkpoints
.pytest_cache
.coverage
htmlcov
nosetests.xml
*.lprof
.python-version

# Local Data / Databases (Don't commit data)
*.csv
*.tsv
*.jsonl
*.parquet
*.feather
*.pickle
*.h5
*.sqlite
*.db

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# VITE
.vite/

# Temporary files
*.tmp
*.temp
